@import '../../common.scss';

.file-wrapper {
  display: flex;
  gap: 5px;
  padding: 4px 0;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }

  svg {
    min-width: 20px;
  }
}

.file__name {
  overflow: hidden;
  flex: 1;
  white-space: nowrap;

  @include prevent-text-select;
}
