@import '../../common.scss';

.file-wrapper {
  height: 27px;
  display: flex;
  gap: 5px;
  padding: 4px 0;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }

  svg {
    min-width: 20px;
  }

  &.modified {
    background-color: moccasin;
  }

  &.selected {
    background-color: steelblue;
  }

  &.focused {
    box-shadow: inset 0 0 0 1px gray;
  }
}

.file__name {
  overflow: hidden;
  flex: 1;
  white-space: nowrap;

  @include prevent-text-select;
}
