.root-section {
  padding: 50px 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}

#get-token {
}

#register-token {
}

.section-title {
  font-size: 30px;
}

.section-subtitle {
  font-size: 18px;
}

.section-content {
  font-size: 18px;
}

.section-image {
  width: 100%;
}
