.repo-header {
  height: 60px;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  justify-content: space-between;
  border-bottom: 1px solid #eee;

  .repo-header__title {
    margin: 0 20px;
    line-height: 40px;

    .repo-title__reponame {
      font-weight: bold;
      font-size: 28px;
    }

    .repo-title__branchname {
      margin-left: 20px;
      font-size: 18px;
      color: gray;
    }
  }

  .repo-header__options {
    margin: 0 30px;
    flex: 1 0 auto;
    display: flex;
    justify-content: right;
    gap: 20px;

    .repo-options__branch__form {
      line-height: 40px;
      &__select {
        width: 100px;
        height: 30px;
        border-radius: 5px;
      }
    }

    .repo-options__list__form {
      line-height: 40px;
      &__select {
        width: 200px;
        height: 30px;
        border-radius: 5px;
      }
    }

    .repo-options__new-version {
      width: 100px;
      height: 40px;
      font-weight: bold;
      border: 1px solid black;
      border-radius: 5px;
      background-color: white;
      color: black;
      cursor: pointer;
    }

    .repo-options__save {
      width: 100px;
      height: 40px;
      font-weight: bold;
      border-radius: 5px;
      background-color: black;
      color: white;
      cursor: pointer;

      &:disabled {
        background-color: gray;
      }
    }
  }
}

.save-commit-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__input {
    width: 100%;
    height: 40px;
    font-size: 15px;
    box-sizing: border-box;
  }

  &__submit {
    width: 100%;
    height: 40px;

    border: none; // 왜 전역에 생성한 스타일이 적용이 안될까
    outline: 0;

    color: white;
    background-color: black;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .save__spinner {
    animation: spin infinite 1s linear;
  }
}
