@import '../../common.scss';

.repo-tab-container {
  height: 100%;
}

.repo-tab {
  height: 35px;
  display: flex;
  gap: 1px;
  background-color: #ccc;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    min-width: fit-content;
    padding-left: 12px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    @include prevent-text-select;

    &.active {
      background-color: white;
      border-bottom: 1px solid white;
    }

    svg:hover {
      background-color: #ccc;
      border-radius: 5px;
    }
  }

  &__path {
    height: 25px;
    font-size: 15px;
    line-height: 25px;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
    @include prevent-text-select;
  }
}
