.oauth-callback-container {
  display: flex;
  justify-content: center;
}

.success-logo-wrapper {
  width: 100px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
