.repo-editor-container {
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: white;

  .quill {
    width: 100%;
    height: calc(
      100vh - 162px
    ); // todo: 스크롤바가 아래 가려서 안보여서 임시방편으로 해결
  }
}
